<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand fw-bold" th:href="@{/}">Mapa de Precios</a>
        <div class="navbar-nav ms-auto">
            <a class="nav-link" th:href="@{/producto}">Productos</a>
            <a class="nav-link" th:href="@{/comercio}">Comercios</a>
            <a class="nav-link" th:href="@{/reporte}">Reportes</a>
            <a th:if="${session['ROL'] == null}" class="nav-link" th:href="@{/login}">Iniciar sesión</a>
            <a th:if="${session['ROL'] == null}" class="nav-link" th:href="@{/nuevo-usuario}">Registrarse</a>
            <a th:if="${session['ROL'] != null}" class="nav-link" th:href="@{/logout}">Cerrar sesión</a>
            <span th:if="${session['ROL'] != null}"
                  class="nav-link text-secondary"
                  th:text="${session['EMAIL']}">
    </span>
        </div>
    </div>
</nav>
</body>
</html>